alembic==1.11.1
aniso8601==9.0.1
apispec==5.2.2
apispec-webframeworks==0.5.2
arrow==1.2.3
attrs==23.1.0
Automat==22.10.0
bidict==0.22.1
binaryornot==0.4.4
certifi==2023.5.7
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
constantly==15.1.0
cookiecutter==2.1.1
dask==2023.6.0
deepdiff==6.2.3
distributed==2023.6.0
dnspython==2.3.0
et-xmlfile==1.1.0
filelock==3.12.2
Flask==2.2.5
Flask-Cors==3.0.10
Flask-JWT-Extended==4.5.2
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.4
Flask-SQLAlchemy==3.0.3
fsspec==2023.6.0
gevent==22.10.2
gevent-websocket==0.10.1
gitignore-parser==0.1.3
greenlet==2.0.2
h11==0.14.0
huggingface-hub==0.15.1
hyperlink==21.0.0
idna==3.4
importlib-metadata==6.6.0
incremental==22.10.0
itsdangerous==2.1.2
Jinja2==3.1.2
jinja2-time==0.2.0
kthread==0.2.3
locket==1.0.0
Mako==1.2.4
Markdown==3.4.3
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-sqlalchemy==0.28.1
modin==0.22.2
mpmath==1.3.0
msgpack==1.0.5
networkx==2.8.8
numpy==1.25.0
openpyxl==3.0.10
ordered-set==4.1.0
orjson==3.9.1
packaging==23.1
pandas==1.5.3
partd==1.4.0
passlib==1.7.4
psutil==5.9.5
pyarrow==10.0.1
PyJWT==2.7.0
pymongo==4.3.3
python-dateutil==2.8.2
python-dotenv==0.20.0
python-engineio==4.4.1
python-slugify==8.0.1
python-socketio==5.8.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
safetensors==0.3.1
simple-websocket==0.10.1
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.16
sympy==1.12
taipy==2.3.0
taipy-config==2.3.0
taipy-core==2.3.0
taipy-gui==2.3.0
taipy-rest==2.3.0
taipy-templates==2.3.0
tblib==1.7.0
text-unidecode==1.3
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
tornado==6.3.2
tqdm==4.65.0
transformers==4.30.2
Twisted==22.10.0
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==4.3
urllib3==2.0.3
Werkzeug==2.3.6
wsproto==1.2.0
zict==3.0.0
zipp==3.15.0
zope.event==4.6
zope.interface==6.0
